---
layout: default2
---

<!-- Begin Article
================================================== -->
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
	{% include header.html %}
	<main class="content" role="main">
	  <article class="post">
			<script type="text/javascript" async
				src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
			</script>
		{% if page.image %}
		<div class="article-image">
		  <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image | prepend: site.baseurl }}{% endif %})">
			Article Image
		  </div>
		  <div class="post-image-image2" style="background-image: url({% if page.image %}{{ page.image | prepend: site.baseurl }}{% endif %})">
			Article Image
		  </div>
		  <div class="post-meta">
			<h1 class="post-title">{{ page.title }}</h1>
			<div class="cf post-meta-text">
        <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%b %d, %Y" }}</time>
        | {% include read-time.html %} read
			  <!-- , tagged on {{foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
			</div>
			<!-- <div style="text-align:center">
			  <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
			</div> -->
		  </div>
		</div>
		{% else %}
		<div class="noarticleimage">
		  <div class="post-meta">
			<h1 class="post-title">{{ page.title }}</h1>
			<div class="cf post-meta-text">
			  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
			  <!-- , tagged on {{foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->
			</div>
		  </div>
		</div>
		<br>
		<br>
		<br>
		{% endif %}
		<section class="post-content-mediator">
		  {{content}}
		</section>
		<footer class="post-footer">
			<!-- <div class="col-md-8 p-5 align-self-center text-center"> -->
			<ul class="tag-box inline">
					{% assign tags_list = page.categories %}  
					{% if tags_list.first[0] == null %}
						{% for tag in tags_list %} 
							<a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag | capitalize }} {{ site.tags[tag].size }}</a>
						{% endfor %}
					{% else %}
						{% for tag in tags_list %} 
							<a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] | capitalize }} ({{ tag[1].size }})</a>
						{% endfor %}
					{% endif %}
					{% assign tags_list = nil %}
			</ul>
		  <section class="share">
				{% for social in site.social %}
			  	{% if social.share_url != null %}
						<a class="icon-{{ social.icon }}" href="{{ social.share_url }}{% if social.share_title %}{{ social.share_title }}{{page.title | cgi_escape}}{% endif %}{{ social.share_link }}{{site.url}}{{site.baseurl}}{{page.id}}"
				  		onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
						<i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
						</a>
			 		{% endif %}
				{% endfor %}
		  </section>
		</footer>
	  </article>
	</main>
	{% include javascripts.html %}
  </body>
</html>
<!-- End Article
================================================== -->

  

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
	<div class="container">
		<div id="comments" class="row justify-content-center mb-5">
			<div class="col-md-10">              
				{% include disqus.html %}                
			</div>
		</div>
	</div>
{% endif %}
<!--End Comments
================================================== -->